@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* Import Inter font regular and bold weights */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Apply global transition styles */
* {
  @apply transition-all duration-150;
}

/* Apply global font styles  @apply overflow-hidden;*/
body {
  font-family: "Roboto", sans-serif;
  @apply text-slate-800 dark:text-slate-200;
  @apply bg-cyan-300 dark:bg-slate-900;
}

.sidebar-list-item {
  @apply dark:bg-gradient-to-r dark:from-slate-900 dark:via-slate-800 dark:to-slate-900;
  @apply bg-gradient-to-r from-cyan-400 via-cyan-300 to-cyan-400;
  @apply shadow-lg rounded-xl text-slate-800 dark:text-slate-300;
  @apply w-4/5 h-10 my-2 flex items-center justify-center font-bold;
  @apply hover:text-slate-500;
}

.buttonBasics {
  @apply border border-solid border-slate-200;
  @apply rounded-md p-2;
  @apply hover:bg-cyan-500;
}

.form-input {
  @apply bg-cyan-200 dark:bg-slate-600;
  @apply border border-solid border-cyan-500 dark:border-slate-200;
  @apply rounded-md p-2 w-full h-12 mx-2 mb-2;
}

.label {
  @apply h-12 flex items-center mx-2 mb-2;
}

/* Scrollbar styles */

:root {
  --scrollbar-width: 12px;
  --scrollbar-track-color: #020617;
  --scrollbar-thumb-color: #1e293b;
  --scrollbar-thumb-hover-color: #475569;
}

/* Toolkit browser scrollbar styles */
/* Webkit */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

/* Firefox */
* {
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

*::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}
